{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<title>Home</title>
<section class="home">
        <center>
            <font size="6">
                  
<p>ABOUT ME </p>
  
            </font>
            <img src="{% static 'images/imageuna.jpg' %}" height="200">
            <font size="4">
                  
<p>Political campaign towards me and my cat for organizing the admin of the planet, we warranty gourmet kitty food and fish eyes for everyone, also free therapy.</p>
  
            </font>
        </center>
</section>