{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">

<hr>


{% if user.is_authenticated %}
	<navbar>
		<ul>
		  <li><a href="/">Home</a></li>
		  <li><a href="/projects">Projects</a></li>
		  <li><a href="/contact">Contact</a></li>
		  <li><a href="/poll">Vote</a></li>
		  <li>User: {{ user.get_username }}</li>
		  <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
		</ul>
	</navbar>
{% else %}
	<navbar>
		<ul>
		  <li><a href="/">Home</a></li>
		  <li><a href="/projects">Projects</a></li>
		  <li><a href="/contact">Contact</a></li>
		  <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
		</ul>
	</navbar>
{% endif %}
